.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0 6%;
  background-color: #f9f9f9;
  /* margin-top: 56px; */
  /* box-shadow: 0px 15px 10px -15px #111; */
}

.content {
  width: 60%;
  max-width: 600px;
  /* margin-top: 56px/; */
}

h1 {
  font-size: 2.5rem;
  color: #272343;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #272343;
}

p {
  margin-top: 4%;
  font-size: 1.2rem;
  line-height: 1.6;
  color: black;
}

.button {
  margin-top: 4%;
  display: inline-block;
  background-color: #31473a;
  padding: 1rem 2rem;
  border: none;
  color: white;
  font-weight: 500;
  font-size: larger;
  border-radius: 10px;
  cursor: pointer;
}

.image-container {
  width: 35%;
  max-width: 500px;
  /* margin-top: 90px; */
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  img {
    width: 70%;
    height: auto;
    border-radius: 10px;
  }

  .container {
    flex-direction: column; /* Stack items vertically */
    text-align: center;
    padding: 0 6% 10%;
  }
  .content h1 {
    font-size: 2rem;
    color: #272343;
  }
  .content p {
    margin-top: 4%;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    /* padding: 1rem; */
  }
  .image-container {
    order: -1; /* Moves the image to the top */
    width: 55%;
  }

  .content {
    width: 100%;
    padding: 0;
    margin: -30px;
  }
}
